@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

p.Board-menu-description {
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
}

span.Board-menu-button-meta {
    font-family: 'Bangers', cursive;
    font-size: 1.1rem;
}

div.Board-menu-button-container {
    margin: 20px 0px;
}